$headings-font-family: "Times New Roman", Times, serif; // Modification de la police par défaut

$primary: #aa00ef;
$light: #f4e6f2;
$headings-color: #351e32;
$card-bg: #f4e6f2;
$jumbotron-bg: #f4e6f2;